.custom-modal1 {
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 500px;
  min-height: 200px;
  padding: 15px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 15px 20px;
}

.bg {
  z-index: 9998;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.modal-title {
  display: flex;
  justify-content: center;
  color: #042136;
  font-size: 22px;
  font-weight: bold;
}

.modal-button-div {
  /* // width: 80%;
    // position: fixed; */
  display: flex;
  justify-content: space-between;
  /* // bottom: 20px; */
  padding: 20px 20px;
}

.modal-main {
  min-height: 150px;
  align-items: center;
}

.modal-list-div {
  width: 100%;
  height: 280px;

  border-radius: 15px;
  border: 1px solid #042136;
  overflow: auto;

}

.modal-list-div::-webkit-scrollbar {
  display: none;
}

.flex-end {
  display: flex;
  justify-content: right;
}

@media (min-width: 320px) and (max-width: 767px) {
  .custom-modal1 {
    z-index: 9999;
    position: fixed;
    top: 65% !important;
    left: 50%;
    min-width: 500px;
    min-height: 200px;
    padding: 15px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 15px 20px;
  }
}