.pg-testimonials .owl_custom .owl-nav {
  display: block !important;
}

.pg-testimonials .owl-nav button {

  margin: 0;
  transition: all 0.3s ease-in-out;
}

.pg-testimonials .owl-nav button.owl-prev {
  position: absolute;
  top: 30%;
  left: 0;
  font-weight: 500;
  width: 25px;
  border-radius: 100%;
  text-align: center;
  line-height: 30px !important;
  color: #000 !important;
  font-size: 3.6rem !important;
  background: none !important;
  cursor: pointer;
  z-index: 5;
  transform: translate(-70%, -50%);
}

.pg-testimonials .owl-nav button.owl-next {

  position: absolute;
  top: 30%;
  font-weight: 500;
  width: 30px;
  border-radius: 100%;
  text-align: center;
  line-height: 30px !important;
  color: #000 !important;
  font-size: 3.6rem !important;
  background: none !important;
  cursor: pointer;
  z-index: 5;
  transform: translate(70%, -50%);
  right: 0;


}

/*     
    .pg-testimonials .owl-nav button:focus {
    outline: none;
    } */

/* .pg-testimonials .owl_custom .owl-prev,.owl-next{
    display:none !important;
    }
    
    .pg-testimonials .owl_custom:hover .owl-prev{
    display:block !important;
    }
    .pg-testimonials .owl_custom:hover .owl-next{
    display:block !important;
    } */

.pg-testimonials .owl-dots {
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  margin-bottom: 20px;
}

.scndcrusol .owl-dots {
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  margin-bottom: 20px;
}

.scndcrusol .owl-dot {
  width: 12px;
  height: 12px;
  border: 1px solid #ffba19 !important;
  border-radius: 50%;
}

.pg-testimonials .owl-dot {
  width: 12px;
  height: 12px;
  border: 1px solid #ffba19 !important;
  border-radius: 50%;
}

.pg-testimonials .owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: none !important;

}

.owl-theme .owl-dots .owl-dot span {

  background: none !important;

}

.scndcrusol .owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: none !important;

}

.scndcrusol .owl-dot.active {
  width: 12px;
  height: 12px;
  background-color: #ffba19 !important;
}

.pg-testimonials .owl-dot.active {
  width: 12px;
  height: 12px;
  background-color: #ffba19 !important;
}

.card-section .circle {
  width: 120px;
  height: 120px;


}

.card-section img {
  width: 120px;
  height: 120px;
  margin-top: -30px;
  margin-left: 30px;
  border: 5px solid #ffba19;
  box-shadow: 2px 2px 8px #999;

}

.card-section h5 {
  color: #000;
  font-size: 1rem;
}

.card-section small {
  color: #000;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 600;
  color: #ffba19;
}

.card-testi {
  background: #fff;
  position: relative;
  text-align: center;
  padding: 1.25rem 0.5rem;
  margin-top: 0.5rem;
  box-shadow: 2px 2px 8px #999;
  border-radius: 20px;
  max-height: 300px;
}

.card-section i.fa-quote-left {
  color: #ffba19;
  padding: 0 10px;
  font-size: 1.5rem;
}

.card-section i.fa-quote-right {
  color: #ffba19;
  padding: 0 10px;
  font-size: 1.5rem;
}

.card-testi-p p {
  text-align: justify;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  word-spacing: 1px;
  max-height: 102px !important;
  overflow-y: scroll;
}

.readmordiv {
  color: #ffba19;
}

@media (min-width: 768px) and (max-width:991px) {


  .card-section small {

    font-size: 1.1rem !important;

  }

  .card-section img {
    width: 100px !important;
    height: 100px !important;
  }
}

@media (min-width: 320px) and (max-width:767px) {
  .card-section img {
    width: 100px !important;
    height: 100px !important;
  }

  .card-section small {

    font-size: 1.2rem !important;

  }

}