/* 
.pg-notfound{

  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.pg-notfound h1{
  font-size: 30vh;
}

  h2 span {
    font-size: 4rem;
    font-weight: 600;
  }
  a:link,
  a:visited {
    text-decoration: none;
    color: #ffba19;
  }
  h3 a:hover {
    text-decoration: none;
    background: #fff;
    color: #000;
    cursor: pointer;
  }
  
  .error_main_box .error_detail_box2 {
    box-shadow: 0 5px 0px -2px #20293F;
    text-align: center;
    animation: fadein 1.2s ease-in;
}

.error_main_box .error_detail_box2 h2 {
    font-size: 10.5em;
    margin-top: 80px;
    font-size: 200px;
    line-height: 200px;
    text-align: center;
    letter-spacing: 5px;
    background: -webkit-linear-gradient(#FF2525, #FFE53B);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.error_main_box .error_detail_box2 p {
    text-align: center;
    font-size: 20px;
    color: #20293F;
    letter-spacing: 5px;
    margin-top: 0px;
}

@keyframes fadein {
    0% {
        margin-top: -50px;
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
} */

.error_main_box {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}

.error_main_box .error_detail_box {
  text-align: center;
}

.error_main_box button {
  padding: 8px 20px;
  background-color: white;
  border: 2px solid#ffc107;
  margin-bottom: 15px;
  color: #444;
  font-weight: bold;
  border-radius: 10px;
}

.error_main_box button:hover {
  background-color: #ffc107;

}

.error_main_box .error_detail_box h2 {
  font-size: 150px;
  color: #ffd351;
  text-shadow:
    1px 1px 1px #ffbf00,
    2px 2px 1px #ffbf00,
    3px 3px 1px #ffbf00,
    4px 4px 1px #ffbf00,
    5px 5px 1px #ffbf00,
    6px 6px 1px #ffbf00,
    11px 15px 8px rgba(0, 0, 0, 0.2);
}

.error_main_box .error_detail_box p {
  font-size: 1.5rem;
  color: #444;
  font-weight: bold;
}


/* second  */

.error_main_box .error_detail_box2 {
  box-shadow: 0 5px 0px -2px #20293F;
  text-align: center;
  animation: fadein 1.2s ease-in;
}

.error_main_box .error_detail_box2 h2 {
  font-size: 10.5em;
  margin-top: 80px;
  font-size: 200px;
  line-height: 200px;
  text-align: center;
  letter-spacing: 5px;
  background: -webkit-linear-gradient(#FF2525, #FFE53B);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.error_main_box .error_detail_box2 p {
  text-align: center;
  font-size: 20px;
  color: #20293F;
  letter-spacing: 5px;
  margin-top: 0px;
}

@keyframes fadein {
  0% {
    margin-top: -50px;
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}