.pg-book-detail {
  background-color: #fff7ee;
}



/* .book-details{
    border-bottom: 1px solid #999;
  } */

.book-image {
  width: 100%;
  height: 450px;
}

.book-image img {
  width: 100%;
  height: auto !important;
  margin: auto !important;
  max-height: 100%;
}

.vjed-off-img img {
  border-radius: 5px;
}

.vjed-off-img:hover .slide-prev {
  opacity: 1 !important;
}

.vjed-off-img:hover .slide-next {
  opacity: 1 !important;
}


.vjed-off-img {
  position: relative;
  background: #fff;
  box-shadow: 0 0 8px #eee;
  padding: 15px;
}

.pg-book-title {
  position: relative;
  background: #fff;
  box-shadow: 0 0 8px #eee;
  padding: 15px;
}

.cursor {
  cursor: pointer;
  /* position: absolute;
    top: 0.35rem;
    right: 10px; */
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.vjed-off-heading h5 {
  font-size: 30px;
  font-weight: 600;

  color: #000;
  height: 50px;
}



.rating-box .fa-star {
  padding: 2px;
  color: #ffba19;
}

.rating-box .checked {
  padding: 2px;
  color: tomato;

}

.rating-num {
  font-size: 16px;
}

.vjed-off-price h6 {
  font-size: 16px;
}

.vjed-off-price .last-price {

  font-size: 20px;
  color: #999;
  text-decoration: line-through;

}

.vjed-off-price .current-price {

  font-size: 20px;
  color: #000;
  text-align: left;
}



.pchoose-type {

  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.pchoose-type-box.active {
  border: 1px solid #3F5858;
}

.pchoose-type .pchoose-type-box {
  border: 2px solid #ffba19;
  border-radius: 5px;
  padding: 10px 35px 10px 15px;
  margin-right: 10px;
  position: relative;
}

.pchoose-type-box.active .activeradio {
  border: 2px solid #ddd;
  background: #3F5858;
}

.activeradio {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #f5f5f5;
  border: 2px solid #ffba19;
  right: 10px;
  top: 10px;
}

.pchoose-type-price {
  display: flex;
  align-items: center;
}

.pchoose-type-price .nprice {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 16px;
}

.pchoose-type-price .noff {
  color: rgb(12, 131, 31);
  margin-left: 10px;
  font-weight: 600;
  font-size: 16px;
}

.quantity {
  display: flex;
  align-items: center;
  border: 2px solid #ffba19;

  padding: 0;
}

.quantity__minus,
.quantity__plus {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0;
  background: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  border: none;

}

.quantity__minus:disabled>.fw-bold {
  color: #999 !important;
}

.quantity__minus:hover,
.quantity__plus:hover {

  color: #3F5858;
}

.quantity__input {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
  border: none;
  /* border-top: 2px solid #3F5958;
border-bottom: 2px solid #3F5958;
border-left: 1px solid #3F5958;
border-right: 2px solid #3F5958; */
  background: #fff;
  color: #8184a1;
}


.quantity__minus:link,
.quantity__plus:link {
  color: #8184a1;
}

.quantity__minus:visited,
.quantity__plus:visited {
  color: #fff;
}

.vjed-off-heading h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  min-height: 70px;
  line-height: 32px;
}

.vjed-off-des p {
  font-size: 18px;
  color: #999;
  min-height: 50px;
}

.pg-reviews-tabs-section {
  height: 50vh;
  overflow-y: auto;
}

.large-star .react__star__rating__lite div .react__star__rating__lite__stars span #star {
  width: 40px !important;

}

.pg-reviews-tabs-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.pg-reviews-tabs-image img {
  width: 50px;
  height: 50px;
  margin: auto !important;
  border-radius: 50%;
  max-height: 100%;
}

.reviewtabsmsg {
  line-break: anywhere;
  font-weight: 400;
  font-size: 15px;
}

.pg-reviewstabs-rating {
  position: relative;
  top: 20px;
  padding: 50px;
}

.pg-reviewstabs-rating h1 {
  font-size: 4rem;
}

.pg-reviewstabs-rating p {
  font-size: 1rem;
}

.info {
  color: #999;
}

@-webkit-keyframes f {
  0% {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}

@keyframes f {
  0% {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}

.progress {
  overflow: hidden;
  margin-top: 0.5em;
  height: 10px;
  border-radius: 15px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-bar {
  height: 100%;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.pg-progress-sec span {
  font-size: 14px;
  font-weight: 500;
}

.progress-bar {
  width: 50%;
}

.progress-bar-striped,
.progress-striped .progress-bar {
  background-image: linear-gradient(45deg,
      hsla(0, 0%, 95%, 0.8) 25%,
      transparent 0,
      transparent 50%,
      hsla(0, 0%, 95%, 0.8) 0,
      hsla(0, 0%, 95%, 0.8) 75%,
      transparent 0,
      transparent);
  background-size: 40px 40px;
}

.progress-striped .progress-bar-success {
  background-image: linear-gradient(45deg,
      hsla(0, 0%, 100%, 0.15) 25%,
      transparent 0,
      transparent 50%,
      hsla(0, 0%, 100%, 0.15) 0,
      hsla(0, 0%, 100%, 0.15) 75%,
      transparent 0,
      transparent);
}

.progress-bar-info {
  background-color: #999;
}


.progress-striped .progress-bar-info {
  background-image: linear-gradient(45deg,
      hsla(0, 0%, 95%, 0.8) 25%,
      transparent 0,
      transparent 50%,
      hsla(0, 0%, 95%, 0.8) 0,
      hsla(0, 0%, 95%, 0.8) 75%,
      transparent 0,
      transparent);
}

.pg-stock .pg-aslow-title {
  font-size: 15px;
  font-weight: 500;
}

/* .pg-review-btn{
  margin-top: -50px;
} */

/* .pg-review-btn .review-btn{
  border: none;
  padding: 10px 30px;
  font-size: 15px;
  font-weight: 700;
  background: #ffba19;
  border-radius: 5px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.pg-review-btn .review-btn:hover {  background: #f5d589;}

.pg-review-btn .review-btn1{
  border: none;
  padding: 10px 30px;
  font-size: 15px;
  font-weight: 700;
  background: #f5d589;
  border-radius: 5px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.pg-review-btn .review-btn1:hover {  background: #ffba19;} */

.pg-review-btn .tab-content {
  background-color: #ffffff;
  padding: 15px;
  box-shadow: 0 0 8px #eee;
}

.pg-review-btn .tab-content>.active {
  display: block;
  padding: 20px 10px;
  line-height: 28px;
  font-size: 16px;
  font-weight: 500;
  color: #999;
  text-align: justify;
}

.pg-review-btn {
  margin-bottom: -20px;
}

.pg-review-btn ul.custom-bookdetail-tab {
  border-bottom: none !important;
  margin-bottom: -20px !important;
  margin-left: 0 !important;
}

.custom-bookdetail-tab .nav-item.show .nav-link,
.custom-bookdetail-tab .nav-link {
  font-size: 16px;
  font-weight: 500;
  margin: 5px 5px 5px 0 !important;
  color: #000 !important;
  padding: 0.5rem 0.5rem !important;
  background: #ffba19 !important;
  border: none !important;
  font-size: 16px;
  border-radius: 5px !important;
  padding: 10px 40px !important;
  box-shadow: 0 0 8px #eee;
}

.custom-bookdetail-tab .nav-item.show .nav-link,
.custom-bookdetail-tab .nav-link.active {
  font-size: 16px;
  font-weight: 500;
  margin: 5px;
  color: #000 !important;
  padding: 0.5rem 0.5rem !important;
  background: #ffba19 !important;
  border: none !important;
  border-radius: 5px !important;
  padding: 10px 40px !important;

}

.custom-bookdetail-tab .nav-link:focus,
.custom-bookdetail-tab .nav-link.active:hover {
  background: #f8e1ab !important;
  color: #000 !important;
  box-shadow: none;
  border: none !important;
  border-bottom: none;
}

.custom-bookdetail-tab .nav-link:focus,
.custom-bookdetail-tab .nav-link:hover {
  background: #f8e1ab !important;
  color: #000 !important;
  box-shadow: none;
  border: none !important;
  border-bottom: none;
}

.pg-booksection {
  margin-top: 50px;
  box-shadow: 0 0 4px #eee;
}


.pg-booksection .owl_custom .owl-nav {
  display: block !important;
}

.pg-booksection .owl-nav button {

  margin: 0;
  transition: all 0.3s ease-in-out;
}

.pg-booksection .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  left: 0;
  font-weight: 500;
  width: 30px;
  border-radius: 100%;
  text-align: center;
  line-height: 30px !important;
  color: #000 !important;
  font-size: 3rem !important;
  cursor: pointer;
  z-index: 5;
  transform: translate(-70%, -50%);




}

.pg-booksection .owl-nav button.owl-next {

  position: absolute;
  top: 50%;
  font-weight: 500;
  width: 30px;
  border-radius: 100%;
  text-align: center;
  line-height: 30px !important;
  color: #000 !important;
  font-size: 3rem !important;
  cursor: pointer;
  z-index: 5;
  transform: translate(70%, -50%);
  right: 0;


}

.pg-booksection .owl-nav button:focus {
  outline: none;
}

/* .owl_custom .owl-prev,.owl-next{
    display:none !important;
    }
    .owl_custom:hover .owl-prev{
    display:block !important;
    }
    .owl_custom:hover .owl-next{
    display:block !important;
    } */

.pg-customer-review .rating-num-outoff {
  font-size: 16px;
  color: #000;
}

.pg-customer-review .rating-point-outoff {
  font-size: 16px;
  color: #000;
  font-weight: 700;

}

.pg-customer-review .customerreview-btn button {

  border: 2px solid #ffba19;
  background: none;
  border-radius: 5px;
  padding: 0 50px;
  font-weight: 500;
}

.pg-customer-review .customerreview-btn button:hover {
  background: #ffba19;

}

.pg-customer-review .pg-userimage {
  width: 50px;
  height: 50px;

}

.pg-customer-review .pg-userimage img {
  width: 40px;
  height: auto;
  border-radius: 50px;
}

.pg-customer-review .review-date span {
  font-size: 12px;
}

.pg-customer-review .review-msg p {
  font-size: 15px;
}


@media (min-width: 1025px) and (max-width:1440px) {}

@media (min-width: 992px) and (max-width:1024px) {
  .book-image {
    width: 100%;
    height: 422px;
  }
}

@media (min-width: 768px) and (max-width:991px) {
  .book-image {
    width: 100%;
    height: 422px;
  }

  .pg-reviewstabs-rating {
    position: relative;
    top: 10px;
    padding: 5px;
  }

  .pg-reviewstabs-rating h1 {
    font-size: 3rem;
  }

  .pg-reviews-tabs-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .pg-reviews-tabs-image img {
    width: 40px;
    height: 40px;

  }

  .reviews-heading h5 {
    font-size: 15px;
  }

  .reviews-heading p {
    font-size: 12px;
  }

}

@media (min-width: 320px) and (max-width:767px) {

  .custom-bookdetail-tab .nav-item.show .nav-link,
  .custom-bookdetail-tab .nav-link {
    padding: 10px 10px !important;

  }

  .pg-reviewstabs-rating {
    position: relative;
    top: 0px;
    padding: 10px;
  }

  .vjed-off-img {

    margin: 10px;
  }

  .pg-book-title {
    margin: 10px;
  }

  .pg-reviewstabs-rating h1 {
    font-size: 3rem;
  }

  .pg-reviews-tabs-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .pg-reviews-tabs-image img {
    width: 40px;
    height: 40px;

  }

  .reviews-heading h5 {
    font-size: 15px;
  }

  .reviews-heading p {
    font-size: 12px;
  }

}