.pg-view-d-card {
  position: sticky;
  top: 110px;
}

.vjed-card img {
  border-radius: 10px 10px 0 0 !important;
}

.radious_all {
  border-radius: 10px;
}

.viewdetail-image-size {
  width: 100%;
  height: 213px;
  border-radius: 10px 10px 0px 0px;
  background-color: #f9f8f8;
}

.viewdetail-image-size img {
  width: 100% !important;
  height: auto !important;
  margin: auto;
  max-height: 100%;
}

.vjed-card-body h5 {
  font-size: 22px;
  font-weight: 700;
  color: #000;
  text-align: left;
  min-height: 40px;
  margin-bottom: 0 !important;
}


@media (min-width: 1025px) and (max-width:1440px) {}

@media (min-width: 992px) and (max-width:1024px) {
  .viewdetail-image-size {
    width: 100%;
    height: 200px;

  }
}

@media (min-width: 768px) and (max-width:991px) {
  .viewdetail-image-size {
    width: 100%;
    height: 131px;

  }
}

@media (min-width: 320px) and (max-width:767px) {}