.viewdetail {
  background-color: #f6e7d7;
}

.viewdetail ul.nav-tabs {
  border: none !important;
  /* box-shadow: 0 0 2px #999; */
  padding: 3px 0rem !important;
  /* border-radius: 5px; */
  background: #f2f2f2;
  overflow: hidden;
  white-space: nowrap;
  flex-wrap: nowrap !important;
  transition: all 0.3s ease !important;
}

.image_modal {
  max-width: 700px;
}


.nav-pills .nav-link.active {
  /* color: #fff !important; */
  background-color: #ffba19 !important;
}

.viewdetail .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  padding: 0.8rem 0.6rem !important;
  border: none !important;


}

.viewdetail .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {

  color: #ffba19 !important;
  border-bottom: 4px solid #ffba19 !important;
  background-color: transparent;
}

.overview {
  margin: 0 20px;
}

/* .viewdetail .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    font-size: 16px;
    font-weight: 500;
    margin: 5px;
    color: #ffba19;
    padding: 0 0.5rem !important;
    border-bottom: 2px solid #ffba19 !important;
    border: none !important;
   
   
}
.viewdetail .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:hover{
    background: none;
    color: #ffba19 !important;
    box-shadow: none;
    border:none !important;
    border-bottom: 2px solid #ffba19 !important;
}
 */

/* .viewdetail .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
    font-size: 16px;
    font-weight: 500;
    margin: 5px;
    color: #ffba19 !important;
    border: none !important;
   
} */
.viewdetail .nav-tabs .nav-link:focus {
  /* background: #ffba19 !important; */
  color: #ffba19 !important;
  box-shadow: none;
  border: none !important;
  /* border-radius: 5px; */
  border-bottom: 4px solid #ffba19 !important;
}

.viewdetail .nav-tabs .nav-link:active {
  /* background: #ffba19 !important; */
  color: #ffba19 !important;
  box-shadow: none;
  border: none !important;
  /* border-radius: 5px; */
  border-bottom: 4px solid #ffba19 !important;
}

.viewdetail .nav-tabs .nav-link:hover {

  box-shadow: none;
  border: none !important;
  border-bottom: 4px solid #ffba19 !important;
  background: none;
}

/* .viewdetail .nav-tabs li{
  margin-right: 5px;
} */
.tabs-button .tabsprevious {
  padding: 5px;
  /* border-radius: 4px; */
  line-height: 15px;
  border: 1px solid #ccc;
  font-size: 15px;
  color: #000;
  background: #fff;
  margin-right: 3px;
}

.chaptr-btn {
  font-size: 16px !important;
  color: #8d8d8d;
  font-weight: bold;
}

/* .tabs-button .tabsprevious:hover{
  background: #ffba19;
} */
.tabs-button .tabsnext {
  padding: 5px;
  /* border-radius: 4px; */
  line-height: 15px;
  border: 1px solid #ccc;
  font-size: 15px;
  color: #000;
  background: #fff;
}

/* .tabs-button .tabsnext:hover{
    background: #ffba19;
  } */


.viewdescription p {
  font-size: 15px;
  font-weight: 500;
}


.vjed-card-body h5 {
  font-size: 15px;
  font-weight: 500;
  color: #000;
  text-align: left;
  min-height: 40px;
  margin-bottom: 0 !important;
}

.vjed-card-body p {
  font-size: 11px;
  text-align: left;
  color: #999;
  min-height: 25px;
  margin-bottom: 0 !important;
}

.vjed-card-body .bygalxy {
  font-size: 13px;
  text-align: left;
  color: #000;
  min-height: 25px;
  margin-bottom: 0 !important;
}

.vjed-card-body .vjed-text-icon {
  font-size: 14px;
  color: #000;
  font-weight: 600;
}

.vjed-card-body h4 {

  text-align: left;

}

.react-pdf__Page__textContent {
  display: none !important;
}

.react-pdf__Page__annotations {
  display: none !important;
}

/* .prevew_document {
    height: 700px;
    width: 100%;
    border: 1px solid #E3E3E3;
  }
  
  
  .prevew_document .react-pdf__Page {
    width: 100% !important;
    max-width: 1200px !important;
    min-height: 500px !important;
    height: 100% !important;
  }
  
  .prevew_document .react-pdf__Page__canvas {
    width: 100% !important;
    max-width: 1413px !important;
    max-height: 698px !important;
    height: 100% !important;
  
  } */

/* .vjed-card-body a.btn{
  border-color: #3F5958;
  background: #3F5958;
  border-radius: 20px;
  width: 100%;
  color: #fff;
}

.vjed-card-body a.btn:hover{
  border-color: #72a1a1;
  background: #72a1a1;
} */

/* .pg-breadcrum{
   margin-bottom: 15px;
} */

.viewdetails-card-sticky {
  position: sticky;
  top: 110px;
}

.pg-breadcrum ol li {
  color: grey !important;
  font-size: 16px !important;
  font-weight: 600 !important;

}

.video_app_content h2 {
  font-size: 30px !important;
  font-weight: 600 !important;
}

.pg-breadcrum ol li:last-child {
  color: black !important;

}

.pg-breadcrum h1 {
  /* border-bottom: 2px solid black; */
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.vjed-all-cg-tabs {
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  box-shadow: 2px 2px 10px #ccc;
  height: 40px;
}

.pg-tabcontent {
  border-radius: 25px;
}

.vjed-all-cg-tabs .previous {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffba19;
  border-radius: 25px;
  margin: 0 !important;
  color: #fff;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffba19;
}

/* .vjed-all-cg-tabs .previous:hover{
     color: #000;
      background:#79bebc;
      border: 1px solid #79bebc;
       
    } */
.vjed-all-cg-tabs .next {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffba19;
  border-radius: 25px;
  margin: 0 !important;
  color: #fff;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffba19;
}

/* .vjed-all-cg-tabs .next:hover{
     color: #000;
      background:#79bebc;
      border: 1px solid #79bebc;
       
    } */

.course__tabs {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 8px;
  bottom: -25px;
  left: 40px;
  right: 40px;
  white-space: nowrap;
  overflow: auto;
}

.course__tabs li.active {
  color: #ffba19 !important;
  border-bottom: 2px solid #ffba19;
}

.course__tabs li {
  font-size: 15px;

  display: inline-block;
  color: #000;
  padding: 0px 15px;
  cursor: pointer;

  margin: 0 5px;
  font-weight: 600;
}

.course__tabs li:hover {
  color: #ffba19;
  border-bottom: 2px solid #ffba19;
}

.contentWrapper .course_btn_nav {
  height: 61px;
  line-height: 58px;
  width: 25px;
  cursor: pointer;
  font-size: 25px;
  color: #fff;
  background-color: #3F5858;
  text-align: center;
}

.pg-tabs-description span i {
  font-size: 1.8rem;

}

.pg-tabs-des p {
  font-size: 16px;
  font-weight: 500;
  padding: 0 10px;
  text-align: justify;
}

.pg-sb-topic .videoimage {
  display: flex;
  align-items: center;
  width: 100%;
  height: 75px;
  max-width: 107px;
}

.pg-sb-topic .videoimage img {
  width: 100%;
  height: auto !important;
  margin: 0 !important;
  max-height: 73px;
  padding: 5px;

}

.pg-text-section p {
  font-size: 12px;
}

.pg-sb-topic span i {
  font-size: 1.4rem;
  margin: 5px;
  padding: 12px 5px;
  color: #8d8d8d;
  cursor: pointer;
  font-weight: 800;
}

/* .highlight{
  color: #feb60d !important;
} */
.pg-sb-topic h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0;
  padding-left: 10px;
}

.pg-tabs-description {
  margin-bottom: 10px;
  cursor: pointer;
}

.btnsalltb {
  display: flex;
  justify-content: end;
}

.btnsalltbb {
  display: flex;
  justify-content: end;
  margin-top: 25px;
  margin-right: -13px;
}

.btnsalltbb button {
  border: 1px solid #ffba19;

  color: #000;
  padding: 2px 10px;
  margin: 4px;
}

.btnsalltbb button:hover {
  background-color: #ffba19;

  color: #000;
}

.btnalldiv button {
  background-color: #fff;
  color: #000;
  padding: 2px 10px;
  margin: 5px;
  font-size: 12px;
  border: 1px solid #ffba19;
}

.btnsalltbba button {
  background-color: #ffba19;
  color: #000;
  padding: 2px 10px;
  margin: 5px;
  display: flex;
  align-items: center;
}

.btnsalltbba button i {
  font-size: 12px;
  margin-right: 5px;
}

.btnsalltbba button:hover {
  border: 1px solid #ffba19;
  background-color: #000;
  color: #ffba19;
}

.btnalldiv button:hover {
  border: 1px solid #ffba19;
  background-color: #ffba19;
  color: #000;
}

.read-icon {
  margin-top: 2px;
}

.eyeicons-a {
  margin-top: 2px;
}

.vjed-all-cg-tabs .previous {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffba19;
  border-radius: 25px;
  margin: 0 !important;
  color: #fff;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffba19;
}

.vjed-all-cg-tabs .next {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffba19;
  border-radius: 25px;
  margin: 0 !important;
  color: #fff;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffba19;
}

.breadCrumb {
  cursor: pointer;
  font-weight: 500;
}

.custom-breadcrumb {
  cursor: pointer;
  color: grey;
  font-size: 16px;
  font-weight: 600;
  margin: 15px 0;
}

.custom-breadcrumb>.active-breadcrumb {
  color: #000;
}

.prevew_document {
  height: 700px;
  width: 100%;
  border: 1px solid #E3E3E3;
}

.prevew_document .react-pdf__Page {
  width: 100% !important;
  max-width: 1200px !important;
  min-height: 500px !important;
  height: 100% !important;
}

.prevew_document .react-pdf__Page__canvas {
  width: 100% !important;
  max-width: 1413px !important;
  max-height: 698px !important;
  height: 100% !important;

}

.audio-conainter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 103px;
}

.toggle {
  padding: 5px 10px;
  min-width: 100px;
  background: none;
  border-radius: 5px;
  border: 2px solid #ffba19;
}

.breadCrumb span {
  color: #ffba19;
}

.breadCrumb:last-child {
  color: #000;
}

.breadcrumb-item+.breadcrumb-item::before {
  float: left;
  padding-right: var(--bs-breadcrumb-item-padding-x);
  color: var(--bs-breadcrumb-divider-color);
  content: var(--bs-breadcrumb-divider, ">");
  margin-left: -4px;
  margin-right: -4px;
}

.sourse-conten {
  border: 1px solid #ebebeb;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08) !important;
  border-radius: 10px !important;
  /* padding: 0px 10px; */
}

@media (min-width: 320px) and (max-width:767px) {
  .pg-breadcrum h1 {
    /* border-bottom: 2px solid black; */
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces;
  }

  .tabs-button {
    display: flex;
  }

  .viewdetail-image-size {
    width: 100%;
    height: 100% !important;
    border-radius: 10px 10px 0px 0px;
    background-color: #f9f8f8;
  }

  .vjed-card-body h5 {
    font-size: 21px;
    font-weight: 600;
    color: #000;
    text-align: left;
    min-height: 40px;
    margin-bottom: 0 !important;
  }

  .btnsalltbb {
    display: block;
    justify-content: end;
    margin-top: 25px;
    margin-right: -13px;
  }

  .viewdetail ul.nav-tabs {
    border: none !important;
    /* box-shadow: 0 0 2px #999; */
    padding: 3px 0rem !important;
    /* border-radius: 5px; */
    background: #f2f2f2;
    overflow: scroll;
    white-space: nowrap;
    flex-wrap: nowrap !important;
    transition: all 0.3s ease !important;
  }

}

.notes-iframe {
  width: 100%;
}

.overview img {
  width: 100% !important;
  height: 100% !important;
}

.contntalldv {
  background-color: #f2f2f2;
}

.contntalldv button {
  margin: 4px;
  border: none;
  margin-bottom: 20px;
  border-radius: 10px;
  color: #000;
  font-weight: 500;

}

.contntalldv button:hover {
  margin: 4px;
  background-color: #000;
  margin-bottom: 20px;
  border-radius: 10px;
  color: #ffba19;
  font-weight: 500;
  border: none;
}

.contntalldv button.activefilter {
  border: none;
  margin: 4px;
  background-color: #ffba19;
  margin-bottom: 20px;
  border-radius: 10px;
  font-weight: 500;
  color: #000;
}

.react-pdf__Document {
  display: flex;
  justify-content: center;
}

.tabs-deschovr:hover {
  background: #FFE5A9;
}