@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik';
    font-weight: 500;

}

.font400 {
    font-family: 'Rubik';
    font-weight: 400;
}


/* section-1 */

.page-section-1-logo-effect {
    display: block;
}

.page-section-1-mobile {
    display: none;


}

.p-sec-mob {
    background: #FFF;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 5px #999;
}

/* .page-section-1{
   background: #ecf2f6;
} */
.p-sec-1-clr {
    background: #FFF;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 5px #999;
}

.header-title img {
    width: 150px;
}

.page-logo {
    padding-bottom: 30px;
}

.page-logo img {
    width: 75%;
}

.leftside-col6 {
    padding-right: 45px;
}

.leftside-heading h2 {
    color: #000;
    font-family: 'Rubik';
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.4em;
}

.leftside-heading p {
    color: #373737;
    font-family: 'Rubik';
    font-size: 15px;
    font-weight: 400;
}

.leftside-btn a.btn-enroll {
    width: 100%;
    font-family: 'Rubik';
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    /* background: linear-gradient(to right, #fae6be ,#ffba19 )!important; */
    /* background : #ffba19; */
    box-shadow: 0 0 5px #999 !important;
    /* box-shadow: 0 4px 25px rgba(250, 214, 130, 0.8)!important; */
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg,

            #ffba19 51%,
            #ff357f 100%);
    -webkit-animation: AnimateBG 10s ease infinite;
    animation: AnimateBG 10s ease infinite;
    border-radius: 30px;
    border: none;
    padding: 10px 40px;

}

.page-card-effct-sec {
    width: 100%;
    position: relative;
    height: 285px;
    border-radius: 20px;
    border: 1px solid #999;
    transition: 0.3s, border .3s, border-radius .3s, box-shadow .3s;
    background-color: white;
    box-shadow: 0px 0px 5px #ccc;
}

.card-icons .font-icons {
    /* background: linear-gradient(to right, #fae6be ,#ffba19 )!important; */
    /* box-shadow: 0 0 5px #999!important; */
    /* border-radius: 0 10px 10px 0;
    padding: 15px 40px;
    position: relative;
   
    min-width: 80px;
    min-height: 60px; */
    background: #ffc347;
    /* box-shadow: 0 4px 20px rgba(255,195,71,.75); */
    border-radius: 0 10px 10px 0;

    position: relative;
    left: 0;
    width: 80px;
    height: 60px;
}

.font-icons i {
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;


}

.card-icon-heading h3 {
    font-family: 'Rubik';
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.card-icon-heading p {
    color: #373737;
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 400;
}

/* .rightside-img{
    position: relative;
    width: 100%;
    height: 410px;
    background: #fff;
    border-radius: 15px;
} */

.rightside-img img {
    width: 100%;
    border-radius: 15px;

}

.offer-card {
    box-shadow: 0 0 5px #999;
    border-radius: 15px;
    border: none;
}

.offer-card img {
    border-radius: 15px !important;
}

/* section-2 */
.page-sect-2-title h1 {
    color: #000;
    font-family: 'Rubik';
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5em;
}

.smallline {

    width: 172px;
    height: 1px;
    border: 4px solid #ffba19;
}

.sec-2-page-viso-course {
    background: #fff;
    box-shadow: 0 0 5px #999;
    padding: 10px;
    border-radius: 15px;
}

.sec-2-page-viso-course span i {
    font-size: 18px;

    color: #ffba19;
}

.sec-2-page-viso-course p {
    font-size: 16px;
    font-weight: 400;
    color: #373737;
}

.page-sec-2-card {
    /* background: linear-gradient(to right, #fae6be ,#ffba19 )!important;
    box-shadow: 0 0 5px #999; */
    background-color: #ffba19 !important;
    border-radius: 20px;
}

.page-sec-2-card-text h3 {

    color: #000;
    font-family: 'Rubik';
    font-size: 30px;
    font-weight: 600;
    line-height: 1.4em;
    padding-bottom: 15px;
}

.page-sec-2-card-text p {

    color: #000;
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 400;
}

.page-sec-2-card-btn .btn {

    font-family: 'Rubik';
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    /* background: linear-gradient(to right, #fae6be ,#ffba19 )!important; */
    box-shadow: 0 0 5px #999 !important;
    border-radius: 30px 30px 30px 30px;
    border: none;
    padding: 10px 80px;

    background-size: 300% 300%;
    background-image: linear-gradient(-45deg,

            #ffba19 51%,
            #ff357f 100%);
    -webkit-animation: AnimateBG 10s ease infinite;
    animation: AnimateBG 10s ease infinite;
}



/* section-3 */

.page-section-3 {
    background: whitesmoke;
}

.page-sec-3-text h3 {
    color: #0e0e0e;
    font-family: 'Rubik';
    font-size: 24px;
    font-weight: 500;
    line-height: 1.4em;
}

.page-sec-3-text h2 {
    color: #ffba19;
    font-family: 'Rubik';
    font-size: 50px;
    font-weight: bold;
    line-height: 1.3em;
}

/* section-4 */

/* .page-section-4{
    background: #ecf2f6;
} */
.page-sec-4-card {
    background: whitesmoke;
    padding: 25px;
    border-radius: 15px;
    width: 100%;
    height: 320px;
}

.buttonsubpart3 {
    font-size: 18px;
    font-weight: 700 !important;
}

.main-box {
    background-color: #eeecec;


}

.customborder {

    border-radius: 15px;

}

.buttonsubpart {
    margin-left: 15px;
    background: #ffc347;
    box-shadow: 0 4px 20px rgba(255, 195, 71, .4);
    border-radius: 10px;
    width: 60px;
    height: 60px;
    position: relative;
    line-height: 60px;
}

.buttonsubpart i.fa-hand-o-right {
    font-size: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.buttonsubpart2 {
    max-width: 100%;
    height: 30px;
}

.page-sec-4-card p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    text-align: justify;
}

/* section-2.2 */

.span-icons span {
    background: #ffc347;
    box-shadow: 0 4px 20px rgba(255, 195, 71, .4);
    border-radius: 10px;
    width: 60px;
    height: 60px;
    position: relative;
    line-height: 60px;
}

.span-icons span i {
    font-size: 1.5rem;
    width: 1em;
    height: 1em;

    color: #343232;

    left: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* section-5 */
.page-section-5 {
    background: whitesmoke;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.pafe-sec-5-text p {
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

.testimonial4_slide1 {
    background: #ffba19;
    width: 100%;
    height: 150px;
    padding: 20px;
}

.testi-slide .owl-carousel .owl-stage-outer {
    border-radius: 15px;
}

/* .page-sec-5-img{
    width: 100%;
    height: 500px;
} */

.page-sec-5-img img {
    width: 100%;
    /* height: auto !important;
    margin: auto !important;
    max-height: 100%; */
    border-radius: 15px;
}


/* testimonials */


.testi-slide {
    padding: 10px 40px;
}

.testi-slide .owl-nav button.owl-prev {
    position: absolute;
    background: #000 !important;
    top: 40%;
    left: 0px;
    font-weight: 700;
    width: 28px !important;
    border-radius: 100%;
    text-align: center;
    line-height: 30px !important;
    color: #ffba19 !important;
    font-size: 2rem !important;
    cursor: pointer;
    z-index: 5;
    transform: translate(-70%, -50%);
}

.testi-slide .owl-nav button.owl-next {
    background: #000 !important;
    position: absolute;
    top: 40%;
    font-weight: 700;
    width: 26px !important;
    height: 24px !important;
    border-radius: 100%;
    text-align: center;
    line-height: 30px !important;
    color: #ffba19 !important;
    font-size: 2rem !important;
    cursor: pointer;
    z-index: 5;
    transform: translate(70%, -50%);
    right: 0px;
}

.testi-slide .owl-dots {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3px;
}

.testi-slide .owl-dot {
    width: 10px;
    height: 10px;
    border: 1px solid #ffba19 !important;
    border-radius: 50%;
}

.testi-slide .owl-dot.active {
    width: 10px;
    height: 10px;
    background-color: #ffba19 !important;
}


.testimonial4_slide {
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, #ffba19 51%, #ff357f 100%);
    padding: 15px;
    border-radius: 15px;
    width: 100%;
    height: 150px;

}

/* according */

.page-section-6 {
    background: whitesmoke;
}

.accordion-collapse {
    border: 0;
}

.accordion-item {
    background-color: #fff;
    border: 0 !important;
    border-radius: 15px !important;
    box-shadow: 0 0 4px #999;
}

.accordion-button {
    padding: 15px 30px;
    font-weight: 500;
    border: 0 !important;
    background: #fff;
    font-size: 18px;
    color: #333333;
    text-align: left;

    border-radius: 15px !important;
}

.accordion-button:focus {
    box-shadow: none;
    border: none;
}

.accordion-button:not(.collapsed) {
    background: #ffba19;
    color: #000;
    box-shadow: 0 0 4px #ccc;
}

.accordion-body {
    padding: 15px 30px;
    background-color: #fff;
    border-radius: 0 0 15px 15px;
}

.accordion-button::after {

    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;

}

.accordion-button:not(.collapsed)::after {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;


}

/* footer */

/* .page-footer{
    background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif) !important;
  
   padding: 10px;
 
} */


.footer-title {
    font-size: 16px;
    color: #fff;
}

.footer-title a {
    font-size: 16px;
    color: #ffba19;
}

.offer-card-body p {
    margin-bottom: 5px !important;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.popupform-body .col-form-label {
    font-weight: 600;
    font-size: 16px;
    color: #000;
}

@media (min-width: 1400px) {

    .pafe-sec-5-text p {
        font-size: 18px;
        font-weight: 400;
        text-align: justify;
    }

    .page-sec-4-card {

        width: 100%;
        height: 320px;
    }

    .page-card-effct-sec {

        height: 275px;

    }
}

@media (min-width: 1025px) and (max-width: 1199px) {


    .page-card-effct-sec {
        margin: 0;
        height: 320px !important;
    }

    .page-sec-4-card {

        width: 100%;
        height: 410px;
    }
}


@media (min-width: 992px) and (max-width: 1024px) {


    .page-card-effct-sec {
        margin: 0;
        height: 320px !important;
    }

    .span-icons span {

        width: 50px;
        height: 45px;

    }

    .span-icons span i {
        font-size: 1.5rem;

    }

    .page-sec-4-card {

        width: 100%;
        height: 410px;
    }

    .page-section-1-logo-effect {
        display: none;
    }

    .page-section-1-mobile {
        display: block;
    }

    .leftside-heading h2 {

        font-size: 26px;

    }

    .leftside-heading p {

        font-size: 20px;

    }

    .offer-card-body p {
        font-size: 24px;
    }

    .buttonsubpart {

        width: 48px;
        height: 50px;

    }
}



@media (min-width: 768px) and (max-width: 991px) {


    .page-card-effct-sec {
        margin: 0;
        height: 260px !important;
    }

    .span-icons span {

        width: 50px;
        height: 40px;

    }

    .span-icons span i {
        font-size: 1.5rem;

    }

    .pafe-sec-5-text p {
        font-size: 15px !important;
        font-weight: 400;
        text-align: justify;
    }

    .page-sec-4-card {

        width: 100%;
        height: 250px;
    }

    .page-section-1-logo-effect {
        display: none;
    }

    .page-section-1-mobile {
        display: block;

    }

    .p-sec-mob {
        background: #FFF;
        padding: 20px 15px;
        border-radius: 15px;
        box-shadow: 0 0 5px #999;
    }

    .leftside-heading p {

        font-size: 17px;
        font-family: 'Rubik';
    }
}

@media (min-width: 481px) and (max-width: 767px) {


    .page-card-effct-sec {
        margin: 0;
        height: 300px !important;
    }

    .span-icons span {

        width: 45px;
        height: 40px;

    }

    .span-icons span i {
        font-size: 1.5rem;

    }

    .pafe-sec-5-text p {
        font-size: 15px !important;
        font-weight: 400;
        text-align: justify;
    }

    .page-section-1-logo-effect {
        display: none;
    }

    .page-section-1-mobile {
        display: block;

    }

    .p-sec-mob {
        background: #FFF;
        padding: 20px 15px;
        border-radius: 15px;
        box-shadow: 0 0 5px #999;
    }

    .page-sec-4-card {

        width: 100%;
        height: 300px;
    }

}

@media (min-width: 320px) and (max-width: 480px) {


    .page-card-effct-sec {
        margin: 0;
        height: 381px !important;
    }

    .page-sec-3-text h2 {

        font-size: 30px;

    }

    .span-icons span {
        width: 100px;
        height: 60px;
    }

    .span-icons span i {
        font-size: 1.5rem;

    }

    .testi-slide .owl-nav button.owl-prev {

        left: 0;

    }

    .pafe-sec-5-text p {
        font-size: 15px !important;
        font-weight: 400;
        text-align: justify;
    }

    .page-section-1-logo-effect {
        display: none;
    }

    .page-section-1-mobile {
        display: block;

    }

    .p-sec-mob {
        background: #FFF;
        padding: 20px 15px;
        border-radius: 15px;
        box-shadow: 0 0 5px #999;
    }

    .testi-slide .owl-nav button.owl-next {

        right: 0;
    }

    .page-sec-4-card {

        height: 350px;
    }

    .testimonial4_slide {

        width: 100%;
        height: 260px;
    }
}

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #b29ef9 0%,
            #8a50c8 29%,
            #d8698e 67%,
            #ffba19 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;

    font-size: 35px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}



.page-sec-2-card {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-color: #ffba19;
}

@-webkit-keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.testi-slide .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: none !important;

}

.testi-slide .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: none !important;
}

.testi-slide .owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
    display: flex !important;
}

.testi-slide .owl-nav button.owl-prev {
    position: absolute;
    background: #000 !important;
    display: flex !important;
    align-items: center !important;
    top: 32%;
    left: 0px;
    font-weight: 700;
    width: 31px;
    border-radius: 100%;
    text-align: center;
    line-height: 32px !important;
    color: #ffba19 !important;
    font-size: 2rem !important;
    cursor: pointer;
    z-index: 5;
    transform: translate(-70%, -50%);
}

.testi-slide .owl-nav button.owl-next {
    background: #000 !important;
    display: flex !important;
    position: absolute;
    top: 32%;
    font-weight: 700;
    width: 30px;
    border-radius: 100%;
    text-align: center;
    line-height: 30px !important;
    color: #ffba19 !important;
    font-size: 2rem !important;
    cursor: pointer;
    z-index: 5;
    transform: translate(70%, -50%);
    right: 0px;
}

.testi-slide .owl-nav button.owl-prev span {
    margin-left: 9px;
    margin-top: -8px;
}

.testi-slide .owl-nav button.owl-next span {
    margin-left: 9px;
    margin-top: -6px;
}

.popupform-content {
    border-radius: 15px !important;
    background-size: 300% 300%;
    /* background-image: linear-gradient( -45deg, #ffe7af 51%, #fdc7dc 100% ); */
    -webkit-animation: AnimateBG 10s ease infinite;
    animation: AnimateBG 10s ease infinite;
}

.popupform-btn-close {
    padding: 15px;
}

.popupform-body {
    padding: 0 50px 50px 50px;
}

.popupform-content .form-control {
    display: block;

    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff !important;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.popupform-content .form-control:hover {
    display: block;

    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff !important;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-enrollnw {
    font-family: 'Rubik';
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    /* background: linear-gradient(to right, #fae6be ,#ffba19 )!important; */
    /* background: #ffba19; */
    box-shadow: 0 0 5px #999 !important;
    /* box-shadow: 0 4px 25px rgba(250, 214, 130, 0.8)!important; */
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, #ffba19 51%, #ff357f 100%);
    -webkit-animation: AnimateBG 10s ease infinite;
    animation: AnimateBG 10s ease infinite;
    border-radius: 30px;
    border: none;
    padding: 10px 40px;
}

.video-modal-content {
    background: transparent !important;
    flex-direction: row !important;
    border: 0;
}

.totlpriceee {
    font-size: 17px;

}

.totlpriceee .last-price {

    color: #999;
    text-decoration: line-through;
}

@media (min-width: 320px) and (max-width: 767px) {
    .accordion-flush .collapse:not(.show) {
        display: none !important;
    }

    .testimonial4_slide1 {
        background: #ffba19;
        width: 100%;
        height: 180px;
        padding: 20px;
    }
}

.forgetpassword {
    color: #000 !important;
    font-size: 16px !important;
}

.headingfrm {
    padding: 5px 15px 0px 55px;
}

.landingperror {
    font-size: 12px;
    color: red;
    padding-left: 2px;
    margin-bottom: 0;
}

.slctstate {
    width: 48%;
    margin-right: 10px;
}