.btn-4 {
  border-radius: 5px;
  background: #ffba19 !important;
  width: 130px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  border: none;
  color: #000 !important;
  font-weight: 700;
  position: relative;
  box-shadow: 1px 1px 4px #999;

}

.btn-4 span {
  /* position: relative; */
  display: block;

}

.btn-4:before {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: #ffba19;
  transition: all 0.3s ease;
  box-shadow: 1px 1px 2px #999;
}

.btn-4:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: #ffba19;
  transition: all 0.3s ease;
  box-shadow: 1px 1px 2px #999;
}

.btn-4:before {
  height: 0%;
  width: 2px;
}

.btn-4:after {
  width: 0%;
  height: 2px;
}

.btn-4:hover {
  background: #000 !important;
  box-shadow: none;
  color: #ffba19 !important;

}

.btn-4:hover:before {
  height: 100%;
}

.btn-4:hover:after {
  width: 100%;
}

.btn-4 span:hover {
  color: #ffba19 !important;
}

.btn-4 span:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #ffba19;
  transition: all 0.3s ease;
  box-shadow: 1px 1px 2px #999;
}


.btn-4 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #ffba19;
  transition: all 0.3s ease;
  box-shadow: 1px 1px 2px #999;
}

.btn-4 span:before {
  width: 2px;
  height: 0%;
}

.btn-4 span:after {
  width: 0%;
  height: 2px;
}

.btn-4 span:hover:before {
  height: 100%;
}

.btn-4 span:hover:after {
  width: 100%;
}