.pg-event-blog-title {
  background-image: linear-gradient(to left, rgba(255, 0, 0, 0), #ffba19);
  padding: 1rem 6rem;
}

.pg-event-blog-breadcrumb ol li {
  cursor: pointer;
  color: grey;
  font-size: 16px;
  font-weight: 600;
}

.pg-event-blog-breadcrumb ol li:last-child {
  color: black;
}

.blog-image {
  width: 100%;
  height: 65px;
  background: #f0f0f0;
}

.blog-image img {

  width: 100%;
  height: auto !important;
  margin: auto !important;
  max-height: 100%;
}

.blog-text {

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.blog-text p {
  font-size: 14px;
  font-weight: 400;
  color: #605e5e;
  word-break: break-all;
  white-space: break-spaces;
}

.blog-btn button {
  border: none;
  background: #ffba19;
  padding: 5px 15px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
}

.event-shadow {
  box-shadow: 0 0 5px #999;
}


@media (min-width: 1025px) and (max-width:1440px) {}

@media (min-width: 992px) and (max-width:1024px) {
  .blog-text h4 {
    font-size: 19px;
  }

  .blog-text p {
    font-size: 13px;

  }

  .blog-btn button {

    font-size: 14px;

  }

  .pg-event-blog-title {
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), #ffba19);
    padding: 0.5rem 6rem;
  }

}

@media (min-width: 768px) and (max-width:991px) {
  .blog-text h4 {
    font-size: 16px;
  }

  .blog-text p {
    font-size: 13px;

  }

  .blog-btn button {

    font-size: 14px;

  }

  .pg-event-blog-title {
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), #ffba19);
    padding: 0;
  }

}

@media (min-width: 320px) and (max-width:767px) {

  .pg-event-blog-title {
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), #ffba19);
    padding: 0;
  }

  .custom-modal {
    overflow: auto;
    z-index: 9999;
    position: fixed;
    top: 90%;
    left: 50%;
    min-width: 350px;
    border-radius: 10px;
    transform: translate(-50%, -100%);
    background: #fff;
    padding: 5px 5px;
  }

  .video_app_content h2 {
    font-size: 24px !important;
  }

  .video_app_content p {
    font-size: 14px;
    margin-top: 5px;
  }

  .video_app_content h5 {
    font-size: 16px;
    margin: 0;
  }

  .video_app_content h4 {
    font-size: 20px;
    margin: 5px 0;
  }

  .video_app_content {
    padding: 10px !important;
  }
}