.book-details {
  background-color: #F2F2F2;
  border-radius: 5px;
  padding-left: 22px;
}

.vjed-order-h h1 {
  font-size: 16px;
  font-weight: 700;

}

.vjed-off-heading h5 {
  font-size: 30px;
  font-weight: 600;

  color: #000;
  height: 50px;
}

.vjed-off-heading h2 {
  font-size: 2rem;
  font-weight: 600;

  color: #000;
  min-height: 150px;
  line-height: 42px;
}

.vjed-off-price h4 {
  font-size: 18px;
}

.vjed-off-price {
  margin-left: 15px;
}

.crseprice h4 {
  font-size: 20px;
  color: #000;
}

.crseprice h5 {
  font-size: 16px;
  color: #6A6A6A;
  margin-bottom: 15px;
}

.crseprice h6 {
  font-size: 14px;
  color: #000;
}

.vjed-off-price h6 {
  font-size: 16px;
}

.vjed-off-price .last-price {

  font-size: 16px !important;
  color: rgba(255, 0, 0, 0.5) !important;
  text-decoration: line-through;

}

.gstp {
  font-size: 12px;
  color: #595959;
}

.vjed-off-price .current-price {

  font-size: 18px !important;
  color: red !important;
  text-align: left;
}

.card-order {
  position: sticky;

  top: 100px;
}

.vjed-order-heading {
  background: #ffba19;
  padding: 5px;
  border-radius: 10px 10px 0 0;
}

.vjed-card .vjed-copan-card {
  display: flex;
  background: #999;
  align-items: center;
  justify-content: space-between;

}

.vjed-check {
  float: left;
  color: #000;
  font-size: 14px;
  margin: 10px 0;
}

.vjed-check label {
  color: #000;
}

.vjed-check label a:hover {
  text-decoration: underline !important;
}

.pg-card-img {
  width: 100%;
  height: 140px;
  border-radius: 10px 10px 0px 0px;
  background-color: #f9f8f8;
  margin-top: 15px;
}

.bwhtediv {
  border: 1px solid #ccc;
  border-radius: 10px;
}

@media (min-width: 320px) and (max-width:767px) {
  .card-order {
    position: sticky;
    top: 100px;
    margin-top: 30px;
  }

}