.user-nav li button {
  background: 0 !important;
  color: #000 !important;
  margin: 2px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  width: 100%;
  align-items: center;
}

.user-nav li button:hover {
  background: #FFE5A9 !important;
  color: #000 !important;
  margin: 2px;
  font-size: 14px;
  font-weight: 600;
}

.file-input {
  display: none;
  /* Hide the file input */
}

.file-input-label {
  display: inline-block;
  padding: 5px;
  background-color: #F0F0F0;
  color: #000;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;

}