/* .modal-dialog {
    padding: 8px;
    background-color: #f6e7d7;
    position: fixed;
    overflow: auto;
    display: block;
    top: 0;
    bottom: 0;
    right: -520px;
    z-index: 9999 !important;       
    height: 100%;
    width: 320px;
    box-shadow: 0 0 4px #999;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
} */

/* .modal-dialog.show {
    right: 0px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
} */

.vjed-off-price>h5 {
    /* display: flex;
    justify-content: space-between; */
    font-size: 1rem;
}

.cart-header .close {
    border: none;
    background: none;
}

.cart-header span {
    font-size: 2rem;

}

.modal-cart-image {
    width: 100%;
    height: 220px;
}

.modal-cart-image img {
    width: 100%;
    height: auto !important;
    margin: 0;
    max-height: 100%;
}

.cart-bill-detail {
    border: 1px dotted #999;
    padding: 10px;
    border-radius: 10px;
}

.cart-bill-detail h5 {
    border-bottom: 1px dotted #999;

}

.cart-bill-detail .total {
    border-top: 1px dotted #999;
}


.pg-review-btn .review-btn {
    border: none;
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 700;
    background: #ffba19;
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.pg-review-btn .review-btn:hover {
    background: #f5d589;
}

.pg-review-btn .review-btn1 {
    border: none;
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 700;
    background: #f5d589;
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.pg-review-btn .review-btn1:hover {
    background: #ffba19;
}

.pg-delivery-add h6 {
    font-size: 14px;
    margin-bottom: 0;
}

.pg-delivery-add p {
    font-size: 14px;
    margin-bottom: 0;
}

.change-btn {
    border: none;
    background: none;
    color: #ffba19;
    font-size: 14px;
}

.fa-shopping-cart {
    cursor: pointer;
}

.offcanvas-header {
    padding: 1rem 1rem 0 !important;
}

.pg-delivery-add {
    box-shadow: 0 0 4px #777;
}

.modal-cart-added {
    background: #eee;
    border-radius: 10px;
}

.modal-cart-added .cart-added-img {
    width: 100%;
    height: 65px;
    border-radius: 10px 0 0 10px;
    background-color: #f9f8f8;
}

.modal-cart-added .cart-added-img img {
    width: 100% !important;
    height: auto !important;
    margin: auto;
    max-height: 100%;
    border-radius: 10px 0 0 10px;
}

.cart-added-btn button {
    border: none;
    background: none;
}

.cart-height {
    height: 55vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.cart-sticky {
    position: sticky;
    bottom: 0px !important;
    background: #fff;
}

.modal-cart-added span.cross-btn {
    cursor: pointer;
}