.card-b-p {
  padding: 1rem !important;
}

.vjed-amount {
  height: 36px;

  align-items: center;
}

.vjed-amount p {
  font-size: 13px;
  font-weight: 400;

  color: #454444;
}

.nodataimg {
  align-items: center;
  justify-content: center;
  /* height: 65vh; */
  flex-direction: column;
  display: flex;
}

.pg-prch-image-size {
  text-align: center;
  width: 100%;
  height: 100% !important;
  border-radius: 10px 10px 0px 0px;
  background-color: #fff;
}

.pg-prch-image-size img {
  width: 107px;
  height: auto !important;
  margin: auto !important;
  max-height: 100%;
  border-radius: 10px;
}

.bg-greyrow {
  background-color: #fff;

}

.bg-greyrowww {
  display: flex;

}

.pg-userprofile-section a {
  text-decoration: none;
}

h3.card-order-title {

  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}

.vjed-card-item p.card-text {
  font-size: 18px;
}

.btn-voice {
  border: 2px solid #ffba19;
  background: #ffba19;
  padding: 5px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
}

.btn-voice:hover {
  background: #ffdc8b;
}

.purchase_crse {
  border: grey;
  width: fit-content;
  border-radius: 5px;
  background-color: #E2E2E2;
  padding: 6px;
}

.purchase_crse li .nav-link {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  padding: 0.5rem 1.6rem !important;
  border: none !important;
  margin: 0px 5px;
}

.purchase_crse li .nav-link.active {
  color: #000 !important;
  border-radius: 5px;
  background-color: #ffba19;
  box-shadow: 2px 2px 10px #ccc;
  border: none !important;
}

.purchase_crse li .nav-link:hover {
  color: #000 !important;
  border-radius: 5px;
  background-color: #FFE5A9;
}

.paymnt-bold {
  font-size: 13px;
}

.paymnt-bold span {
  font-weight: bold;
  font-size: 13px;
}

.topdiv span {
  font-size: 16px;
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.topsdiv p {
  font-size: 13px;
  display: flex;
  justify-content: center;

}

.topsdiv span {
  color: green;
}

.topssdiv button {
  font-size: 13px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  color: #000;
  padding: 1px 5px;
  background-color: #ffba19;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.scndpriced {
  display: flex;
  justify-content: end;
  padding-right: 20px;
  font-weight: 500;
}

.cursemaindiv {
  background: #f2f2f2;
  padding: 11px;
  border-radius: 5px;
  display: flex;
}

.scndbrkupdiv {
  margin-top: -10px;
}

.grtinvcebt {
  padding: 5px 30px;
  background-color: #ffba19;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.bilngdiv p {
  font-weight: 500;
}

.notdiv p {
  font-size: 13px;
  font-weight: 500;
}

.notdiv p span {
  color: red;
}

.purchaseMin {
  min-height: 425px;
}

@media (min-width: 1025px) and (max-width:1440px) {}

@media (min-width: 992px) and (max-width:1024px) {
  .vjed-card-item h5.card-order-title {
    font-size: 17px;
  }

  .vjed-card-item p {
    font-size: 13px;
  }
}

@media (min-width: 768px) and (max-width:991px) {
  .vjed-card-item h5.card-order-title {
    font-size: 15px;
  }

  .vjed-card-item p {
    font-size: 11px;
  }
}

@media (min-width: 320px) and (max-width:767px) {
  h3.card-order-title {

    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

  }

  .topsdiv p {
    font-size: 13px;
    display: block;
  }

  .pg-prch-image-size {
    text-align: center;
    width: 100%;
    height: 121px !important;
    border-radius: 10px 10px 0px 0px;
    background-color: #f9f8f8;
  }

  .pg-prch-image-size img {
    height: 100% !important;
    object-fit: fill !important;
  }

  .cursemaindiv {
    background: #f2f2f2;
    padding: 11px;
    border-radius: 5px;
    display: contents;
  }

  .bg-greyrowww {
    display: contents;

  }
}