.bestsellarcourses .pg-cg-c-title h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: black;
  font-size: 19px;
  font-weight: 500;


}

.bestsellarcourses .pg-cg-c-title p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #999;
  font-size: 12px;
  font-weight: 500;

}



.bestsellarcourses .pg-cg-card {
  object-fit: cover;
  transform: translateY(0px);
  transition: all .5s;
  border-radius: 10px;
}

.bestsellarcourses .pg-cg-card:hover {
  border-bottom: 4px solid #ffba19 !important;
}

.bestsellarcourses .pg-cg-card:hover {
  transform: translateY(-5px);
  transition: all .5s;
  box-shadow: 2px 4px 12px 1px #a6a1a1;
  border-radius: 10px 10px 10px 10px;
}

.bestsellarcourses img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
}


.bestsellarcourses .card-new:hover {
  background: #303032;
  color: #fff;
  text-decoration: none;
  border-radius: 8px 8px 9px 8px;
}

.bestsellarcourses .card-new {
  padding: 8px 11px;
  height: 140px;
  background: #fff;
  position: relative;
  box-shadow: 0px 2px 10px #999;
  border-radius: 8px 8px 9px 8px;
}

/* 
  .bestsellarcourses a:hover .card-heading, bestsellarcourses a:hover .card-text {
      color: #fff;
  } */
.bestsellarcourses .card-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #000;
  width: 70%;
}

.bestsellarcourses a:hover .card-more1 {
  color: #AEA5FF;
}

.bestsellarcourses .card-new-inset {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 140px;
  width: 140px;
  text-decoration: none;
  overflow: hidden;
  border-radius: 8px;
}


.bestsellarcourses .card-new-inset-bkg1 {
  background: #E2FFF3;
  height: 140px;
  width: 140px;
  border-radius: 70px;
  position: absolute;
  z-index: 0;
  bottom: -33px;
  right: -36px;
}

.bestsellarcourses .pw_banner_img {
  height: 50%;
  position: absolute;
  bottom: 0;
  right: 5px;
}

.rating-box-courses .rating-point {
  font-size: 12px;
  color: #000;
}

.rating-box-courses .fa-star {
  padding: 2px;
  color: #ffba19;
  font-size: 12px;
}

.rating-box-courses .checked {
  padding: 2px;
  color: tomato;
  font-size: 12px;

}



.rating-box-courses .rating-num {
  font-size: 12px;
  color: #000;
}