.verification-code--inputs input::placeholder {
  font-size: 14px;
}

.verification-code--inputs input.form-control {


  /* padding: 5px; */
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #eeeeee;
}