* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, 'Segoe UI', 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif, '';
  accent-color: #ffba19 !important;
}

.pg-tabs-description:hover {
  transform: scale(1.03)
}